@media (min-width: 601px){

*{
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  height: 100vh;
  margin: 0;

}

.container {
  max-width: auto;
}

.background {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40vw;
}

h1 {
  color: #fedd00;
  font-size: 3em;
  margin-bottom: 0.5em;
  letter-spacing: 2px;
  text-align: center; 
}


nav ul {
  list-style-type: none;
  padding: 0;
  margin: 1em 0;
}

nav ul li {
  display: inline-block;
  white-space: nowrap;
  margin: 0 15px;
  text-align: center;
}

nav ul li a {
  color: #fedd00;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2em;
  transition: color 0.3s ease;
  width: 25%;
}

nav ul li a:hover {
  color: white;
}

}
/*end big screeen*/


@media (max-width: 600px){
body {
  background-color: #000;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  height: 100vh;
  margin: 0;
  text-align: center;
}

.container {
  max-width: 600px;
}

h1 {
  color: #fedd00;
  font-size: 3em;
  margin-bottom: 0.5em;
  letter-spacing: 2px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin: 0 15px;
}

nav ul li a {
  color: #fedd00;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2em;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: white;
}

}
/*end mobile*/
p {
  text-align: center;
}
